<html>
    <head>
        <title>My First Blog using Django</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My First Blog using Django</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my post using Django</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post using Django</p>
        </div>
    </body>
</html>